/* Reset CSS cho các phần tử trong thành phần Markdown */
.prose * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prose p {
    line-height: 1.5;
}

.prose > *:not(:last-child) {
    margin-bottom: 0.25em;
}
